{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>

                <th>Theme</th>
                

                <td>{{ course.theme.name }}</td>

            </tr>
        </tbody>
    </table>

    <h2>Lessons</h2>
    <ul>
        {% for lesson in course.lessons %}
            <li>
                {{ lesson.name }}
                <a href="{{ path('show_lesson', {'idA': admin_id, 'idC': course.id, 'id': lesson.id}) }}" class="btn btn-info">Show</a>
            </li>
        {% endfor %}
    </ul>

    <form method="post" action="{{ path('delete_course', {'idA': admin_id, 'id': course.id}) }}" onsubmit="return confirm('Are you sure you want to delete this course?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <a href="{{ path('new_lesson', {'idA': admin_id, 'idC': course.id}) }}" class="btn btn-primary">Add Lesson</a>
    <a href="{{ path('index_course' , {'idA': admin_id}) }}" class="btn btn-secondary">Back to List</a>
{% endblock %}
