<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Post{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% if theme == 'light' %}
        <link rel="stylesheet" href="{{ asset('css/theme-light.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/theme-dark.css') }}">
    {% endif %}
</head>
<body>

    <nav class=" flex justify-between items-center p-2">
        <h1>Post</h1>
        <div class="flex">
            <ul>
                <li><a href="{{ path('app_student', {'idS': idS}) }}" class="button">Accueil</a></li>
                <li><a href="{{ path('student_courses', {'idS' : idS}) }}"  class="button">Mes Cours </a></li>
                <li><a href="{{ path('post_forum_index', {'idS': idS}) }}" class="button"><i class="fas fa-arrow-rotate-left"></i> </a></li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto mt-8 max-w-lg p-4 mx-auto rounded-lg shadow-lg overflow-hidden">

        <p>Thème : {{ post.course.theme.name }}</p>
        <p>Cours : {{ post.course.name }}</p>

        <p>Texte : {{ post.content }}</p>

        {# Bouton Modifier #}
        <a href="{{ path('post_forum_edit', {'id': post.id, 'idS': idS}) }}" class="button"><i class="fas fa-edit"></i> </a>

        {# Bouton Supprimer #}
        <form method="post" action="{{ path('post_forum_delete', {'id': post.id, 'idS': idS}) }}" style="display: inline-block;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
            <button type="submit" class="logout" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce message ?')"><i class="fas fa-trash"></i> </button>
        </form>

    </div>
</body>
</html>