
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% if theme == 'light' %}
        <link rel="stylesheet" href="{{ asset('css/theme-light.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/theme-dark.css') }}">
    {% endif %}
    
</head>
<body>
    <nav class=" px-4 flex justify-between items-center">
        <h1 class="">Ajouter une question</h1>
        <div class="flex space-x-2">
            <a href="{{ path('qcm_show', {'idA': admin_id, 'idC': course_id , 'id': qcm_id}) }}" class="button px-4 py-2 rounded-md hover:bg-gray-400">
                <i class="fas fa-arrow-rotate-left"></i> 
            </a>
        </div>
    </nav>

    
 
    <div class="container shadow-lg overflow-hidden mx-auto mt-8">
    <form action="{{ path('add_question', {'idA': admin_id, 'idC': course_id, 'id': qcm_id}) }}" class="p-2" method="POST">
        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.content, 'Contenu :', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            {{ form_widget(form.content, {'class': 'text-gray-900 input-color mt-1 w-full'}) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.lesson, 'Leçon :', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            {{ form_widget(form.lesson, {'class': 'input-color mt-1 w-full'}) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.answers, 'Réponses :', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            <ul>
                {% for answerField in form.answers %}
                    <li>{{ form_widget(answerField, {'attr': {'class': 'mx-8 bg-gray-100 mt-1  mb-2'}}) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4">
            {{ form_label(form.correctAnswerIndex, 'Bonne réponse :', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            {{ form_widget(form.correctAnswerIndex, {'class': 'input-color mt-1 w-full'}) }}
        </div>
        <button type="submit" class="mt-4 inline-block button text-gray-800 px-4 py-2 rounded-md ">Créer</button>
        {{ form_end(form) }}
    </form>
</div>



  
</body>
</html>
