{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>
    <p>Form for editing a question</p>

    {{ form_start(form) }}
    {{ form_row(form.content) }}

    <label for="answers">Answers:</label>
    <ul id="answers">
        {% for answer in form.answers %}
            <li>{{ form_row(answer) }}</li>
        {% endfor %}
    </ul>

    {{ form_row(form.correctAnswerIndex) }}
    
    {{ form_rest(form) }} {# Add this line to render remaining form fields #}

    {{ form_end(form) }}

    <form method="post" action="{{ path('delete_question', {'idA': admin_id,'idC':qcm.course.id, 'idQ':qcm.id, 'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this course?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <a href="{{ path('qcm_show', {'idA': admin_id, 'idC':qcm.course.id, 'id': qcm.id}) }}">Back to QCM</a>
{% endblock %}
