<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit QCM</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% if theme == 'light' %}
        <link rel="stylesheet" href="{{ asset('css/theme-light.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/theme-dark.css') }}">
    {% endif %}
</head>
<body>



    <nav class=" flex justify-end py-2 px-4">
        
       
            <a href="{{ path('qcm_index', { 'idA': admin_id, 'idC': course_id, 'id': qcm.id}) }}" class="button">
                <i class="fas fa-arrow-rotate-left"></i>
            </a>
     
    </nav>

    <div class="mx-auto mt-8 max-w-lg p-4 rounded-lg shadow-lg overflow-hidden">
    <form action="{{ path('qcm_edit', {'idA': admin_id, 'idC': qcm.course.id, 'id': qcm.id}) }}" class="p-2" method="POST">
        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.title, 'Nom du QCM:', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            {{ form_widget(form.title, {'class': 'input-color mt-1 w-full'}) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.course, 'Nom du cours:', {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
            {{ form_widget(form.course, {'class': 'input-color mt-1 w-full'}) }}
        </div>
        <button type="submit" class="mt-4 inline-block bg-gray-300 text-gray-800 px-4 py-2 rounded-md hover:bg-gray-400">Modifier</button>
        {{ form_end(form) }}
    </form>
</div>


</body>
</html>
