<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Administration{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    {% if theme == 'light' %}
        <link rel="stylesheet" href="{{ asset('css/theme-light.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/theme-dark.css') }}">
    {% endif %}
   
</head>

<body>
    
    <nav class=" flex justify-between items-center px-4">
        <h1 class="m-2">Résultats de la recherche : {{ search_term }}</h1>
        <div class="flex my-2">
            <ul>
                <li><a href="{{ path('qcm_index', {'idA': admin_id}) }}" class="button"><i class="fas fa-arrow-rotate-left"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto px-4 py-8">
        {% if qcms is not empty %}
            <table class="w-full shadow-md rounded-lg overflow-hidden">
                <thead class="uppercase text-sm leading-normal">
                    <tr>
                        <th class="py-3 px-6 text-left">Name</th>
                        <th class="py-3 px-6 text-left">Cours</th>
                        <th class="py-3 px-6 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-sm font-light">
                    {% for qcm in qcms %}
                        <tr class="border-b border-gray-200">
                            <td class="py-3 px-6 text-left whitespace-nowrap">{{ qcm.title }}</td>
                            <td class="py-3 px-6 text-left">{{ qcm.course.name }}</td>
                            <td class="py-3 px-6 text-center">
                                <a href="{{ path('qcm_show', {'idA': admin_id, 'idC': qcm.course.id, 'id': qcm.id}) }}"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('qcm_edit', {'idA': admin_id, 'idC': qcm.course.id, 'id': qcm.id}) }}"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>

</body>
</html>
