<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% if theme == 'light' %}
        <link rel="stylesheet" href="{{ asset('css/theme-light.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/theme-dark.css') }}">
    {% endif %}
</head>
<body>
    <nav class="px-2 flex justify-between items-center">
        <h1>Gestion des utilisateurs</h1>
        <div class="flex">
            <ul>
                <li><a href="{{ path('app_admin', {'idA': admin_id}) }}" class="button">Accueil</a></li>
                <li><a href="{{ path('index_course', {'idA': admin_id}) }}" class="button">Cours</a></li>
                <li><a href="{{ path('qcm_index', {'idA': admin_id}) }}" class="button">QCM</a></li>
                <li><a href="{{ path('app_logout') }}"  class="logout border"><i class="fas fa-sign-out-alt"></i> </a></li>

            </ul>
        </div>
    </nav>

    <div class="flex justify-between my-4">
        <div class="flex">
            <form action="{{ path('app_admin_change_theme', {'idA': admin_id}) }}" method="post" class="m-4">
                <input type="hidden" name="theme" value="{{ theme == 'light' ? 'dark' : 'light' }}">
                <button type="submit" class="button"> <i class="fa fa-adjust"></i> </button>
            </form>
            <a href="{{ path('new_user', {'idA': admin_id}) }}" class="m-4 plus ">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>

        <div>
            <form action="{{ path('search_user', {'idA': admin_id}) }}" method="get" class="flex">
                <input type="text" name="query" placeholder="Rechercher..." class="m-2 p-2 rounded search">
                <button type="submit" class="button"><i class="fas fa-search rounded"></i></button>
            </form>
        </div>
    </div>

    <div class="container mx-auto px-4 py-8">
        <table class="w-full shadow-md rounded-lg overflow-hidden">
            <thead class="uppercase text-sm leading-normal">
                <tr class="haut">
                    <th class="py-3 px-6 text-left">Nom d'utilisateur</th>
                    <th class="py-3 px-6 text-left">Email</th>
                    <th class="py-3 px-6 text-left">Prénom</th>
                    <th class="py-3 px-6 text-left">Nom</th>
                    <th class="py-3 px-6 text-center">Actions</th> 
                </tr>
            </thead>
            <tbody class="text-sm font-light">
                {% for user in users %}
                    <tr class="border-b border-gray-200 ">
                        <td class="py-3 px-6 text-left whitespace-nowrap">{{ user.username }}</td>
                        <td class="py-3 px-6 text-left">{{ user.email }}</td>
                        <td class="py-3 px-6 text-left">{{ user.firstname }}</td>
                        <td class="py-3 px-6 text-left">{{ user.lastname }}</td>
                        <td class="py-3 px-6 text-center">
                            <a href="{{ path('show_user', {'idA': admin_id, 'id': user.id}) }}"><i class="fas fa-eye"></i> </a>
                            <a href="{{ path('edit_user', {'idA': admin_id, 'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
